body {
    background-color: #d7e7d7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.col-sm-3 {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

img.img-responsive {
  width: 50%;
  max-width: 960px;
  margin: 0 auto; /* центрируем основной контейнер */
}

.col-sm-8 {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    font:  12pt sans-serif;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: green;
}